.body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 100px;
}
.bgcolor{
    background: #F0FFF0;
}
.greenbox{
    width: 100%;
    height: 576px;
    
}
#logo-img{
    width: 150px;
}
.row{
    margin-top: 20px;
}
.nav-link{
    color: black;
}
.nav-item button{
    border-radius: 20px;
}
#get-started-btn{
    border-radius: 20px;
}
h6{
    color: #FD511A;
}
.schedule{
    color: #21B573;
}
.col-6 img{
   
    width: 554px;
    height: 346px;
    left: 691px;
    top: 157px;
}
.headinfo{
    margin-top: 60px;
}
.card{
    background-color: #F0FFF0;
    border-style: none;
    box-shadow: 5px 5px 10px lightgrey;
}
.card:hover{
    background-color: white;
}
.card img{
    width: 100px;
    margin-left: 80px;
    margin-top: 30px;
}
/* h5{
    text-align: center;
} */
#info-card{
    text-align: center;
}
.headlines{
    text-align: center;
    margin-bottom: 50px;
}
#online-course{
    background-color: white;
}
.card-footer{
    border-style: none;
    background-color: white;
}
#psycho-img{
    margin-top: 10.5px;
    margin-left: 10.5px;
    width: 330px;
}

#buy-course{
    width: 50%;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
}

#small-icon-img{
    margin: 0;
    width: 20px;
}
#online-card{
    background-color: white;
}
#designation{
    color: grey;
}
#man-pic{
    width: 100px;
    margin-right: 50px;
}
.testi-contents{
    margin-left: 150px;
    margin-right: 150px;
}
.black-box{
    background-color: #282531;
    width: 100%;
    height: 369px;
}
.footer-text{
    color:#CDCDCD;
}
footer{
    background-color: #282531;
    text-align: center;
}
.blac-box-content {
    color: #CDCDCD;
}
/* .col{
    color: #CDCDCD;
} */
#footer-card{
    background-color: #282531;
}
#row-text{
    color: #CDCDCD ;
}
#foot-para{
    margin-top: 30px;
}
#foot-heading{
    margin-top: 30px;
    color: white;
}
.dhoom{
    color: #CDCDCD;
}

